.detail_bottom
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background: #3aacff;
    height: 1.3333334rem;
    color: #fff;
    display flex;

.detail_bottom p:first-child {
    font-size: .42666667rem;
    margin-top: .16rem;
    font-weight: 500;
}

.detail_bottom p:nth-child(2) {
    font-size: .32rem;
}

.flex-centerY {
    -webkit-box-align: center;
    align-items: center;
}
.flex-column {
    -webkit-box-orient: vertical;
    flex-direction: column;
}