ul
    width 100%
    height 6.56rem
ul li
    float left
    margin-right .05rem
    margin-bottom .05rem
    width 3.28rem
    height 3.28rem
    padding 0
ul li img
    width 100%
    height 100%
    background-size cover