.img-default
    width 100%
    overflow hidden
    list-style none
    position absolute
    background #fff
    top 1.306666rem
    bottom 0
    overflow-y scroll
    border-bottom .533333rem solid #f4f4f4
.img-default ul
    width 100%
    height 6.56rem
.img-default ul li
    float left
    margin-right .05rem
    margin-bottom .05rem
    width 3.28rem
    height 3.28rem
    padding 0
.img-default ul li:first-child
    position relative
.img-default ul li img
    width 100%
    height 100%
    background-size cover
.img-default ul div
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    background rgba(56,90,130,.5)
    display flex
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size 18px
    color white