.carlist
    -webkit-overflow-scrolling: touch;
    .cartype
        border-top: .2rem solid #f4f4f4;
        padding: 0 .4rem;
        font-size: .4266667rem;
        height: 1.026667rem;
        line-height: 1.026667rem;
        background: #fff;
        span
            padding-right: 0.6133331rem;
    div
        -webkit-overflow-scrolling: touch;
        div>p
            padding: 0 .266667rem;
            height: .666667rem;
            line-height: .666667rem;
            font-size: .3466667rem;
            color: #999;
            background: #f4f4f4;
        ul li
            padding: 0 .266667rem;
            border-bottom: .24rem solid #f4f4f4;
            overflow: hidden;
        li p:first-child 
            padding: .3466667rem 0 .24rem;
            font-size: .4rem;
            line-height: 1;
           color: #3d3d3d;
            
        li p:nth-child(2) 
            color: #bdbdbd;
            font-size: .32rem;
            
        li p:nth-child(3) 
            text-align: right;
            padding-bottom: .1333334rem;
            font-size: .32rem;
            color: #818181;
            
        li p:nth-child(3) span:nth-child(2) 
            font-size: .4rem;
            color: #ff2336;
            margin-left: .13333334rem;
        li button 
            border: none;
            border-top: 1px solid #eee;
            width: 110%;
            height: 1.066667rem;
            font-size: .426667rem;
            color: #00afff;
            background: #fff;
            font-weight: 500;
            margin-left: -.4rem;
.active
    color #00afff;