.img {
    height: 100%;
    width: 100%;
    background: #f4f4f4;
    overflow hidden;
    position relative;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility:hidden;
}

.img .title {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    height: 1.066667rem;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 99;
    p{
        -webkit-box-flex: 1;
        flex: 1;
        text-align: center;
        box-sizing: border-box;
        font-size: 0;
        color: #454545;
        display: inline-block;
        span {
            max-width: 3.466667rem;
            display: inline-block;
            vertical-align: middle;
            line-height: 1.25;
            font-size: .3733333rem;
        }
    }
    p:after {
        content: "";
        display: inline-block;
        padding-top: .213333rem;
        padding-right: .213333rem;
        border-top: 2px solid #ccc;
        border-right: 2px solid #ccc;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        margin-left: .266667rem;
        vertical-align: 5%;
    }
    p:nth-child(2) {
        border-left: 1px solid #ececec;
    }
}

.img .img_default{
    width: 100%;
    overflow: hidden;
    position: absolute;
    background: #fff;
    top: 1.306666rem;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-bottom: .4rem solid #f4f4f4;
}



.img .img_default>div{
    width: 100%;
}

.img .img_default>div>div {
        position: relative;
        float: left;
        margin-right: .08rem;
        margin-bottom: .08rem;
        width: 3.28rem;
        height: 3.28rem;
        padding: 0;
        img {
            width: 100%;
            height: 100%;
            background-Size:cover;
            background-Repeat:no-repeat;
            background-Position:center;
        }
}

.img .img_default>div>div:nth-child(3n+3) {
        margin-right: 0;
}

.p{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(56,90,130,.5);
    z-index 99
    color: #fff;
    display: block;
    p:first-child {
        font-size: 0.37333rem;
        margin-top: 1.066666rem;
    }
    p:nth-child(2) {
        font-size: 0.346666rem;
    }
}



.img_list {
    background: #f4f4f4;
    top: 0;
    text-align: center;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.img_list li {
    float: left;
    margin-right: .08rem;
    margin-bottom: .08rem;
    width: 3.28rem;
    height: 3.28rem;
    padding: 0;
    img{
        width: 100%;
        height: 100%;
    }
}

li:nth-child(3n+3) {
        margin-right: 0;
}