.detailimg
    height 4.386667rem
    position: relative;
    overflow: hidden;
.detailimg img
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
.detailimg span 
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    color: #fff;
    padding: 1px 0.133334rem;
    border-radius: 0.266667rem;
    background: rgba(0,0,0,.6);
    font-size: 0.32rem;