.content .q_info {
    background: #fff;
    padding: 0.426667rem .24rem .32rem;
    position: relative;
    height: 2.66667rem;
    box-sizing: border-box;
}
.q_info img {
    width: 3.066667rem;
    height: 1.88rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px;
}
.content .q_info div {
    margin-left: .266667rem;
    width: 5.733333rem;
}
.content .q_info:before {
    content: "";
    display: inline-block;
    padding-top: 0.213333rem;
    padding-right: 0.213333rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: .34666666rem;
    top: 1.2rem;
}


.content .q_info div p:first-child {
    font-size: .48rem;
    line-height: 1;
}
.content .q_info div p:nth-child(2) {
    margin-top: .3466667rem;
    font-size: .426666rem;
    line-height: 1.2;
    color: #333;
}

.content .self_info ul {
    background: #fff;
    padding: 0 .266667rem;
}
.content .self_info ul li {
    font-size: .426667rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    color: #000;
}
.content .self_info ul li input {
    font-size: .0.426666rem;
    padding-right: 0.26666rem;
    width: 88%;
    text-align: right;
    box-sizing: border-box;
    color: #555;
}

.content .self_info>div {
    background: #fff;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.373333rem;
}

.content .tip {
    height: 0.666666rem;
    line-height: 0.666666rem;
}
.tip {
    padding: 0 0.266666rem;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #666;
    font-size: 0.32rem;
    background: #eee;
}

.content .dealer_info ul {
    background: #fff;
    padding: 0 0.24rem;
}

.content  .dealer_info li {
    position: relative;
    padding: 0.346666rem 0 0.346666rem .72rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 2.2rem;
}

.content  .dealer_info li:before {
    content: "";
    display: inline-block;
    width: 0.426666rem;
    height: 0.426666rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: 0.066666rem;
    top: 50%;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.content  .dealer_info li.active:after {
    content: "";
    display: inline-block;
    padding-top: 0.226666rem;
    padding-right: 0.133333rem;
    border: 2px solid #fff;
    -webkit-transform: rotate(40deg) translate3d(0,-50%,0);
    transform: rotate(40deg) translate3d(0,-50%,0);
    position: absolute;
    left: 0.093333rem;
    border-left: none;
    border-top: none;
    top: 47%;
}

.content .dealer_info li p:first-child {
    font-size: 0.4rem;
}

.content .dealer_info li p:first-child span:last-child {
    font-size: 0.32rem;
    float: right;
    color: red;
}

.content .dealer_info li p:nth-child(2) {
    margin-top: 0.133333rem;
    font-size: 0.32rem;
    color: #a2a2a2;
}

.content .dealer_info li p:nth-child(2) span:first-child {
    display: inline-block;
    max-width: 6.133333rem;
}

.content .dealer_info li p:nth-child(2) span:nth-child(2) {
    float: right;
}

.content .self_info ul li span:nth-child(2) {
    display: inline-block;
    width: 88%;
    color: #555;
    text-align: right;
    box-sizing: border-box;
}

.content .self_info ul li span:nth-child(2):after {
    content: "";
    display: inline-block;
    padding-top: 0.213333rem;
    padding-right: 0.213333rem;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.quotation button {
    font-size: 0.426666rem;
    color: #fff;
    width: 80%;
    background: #3aacff;
    height: 0.933333rem;
    border-radius: 0.133333rem;
}

.content .supp-info {
    text-align: center;
    height: 0.533333rem;
}