.aside_letter
    z-index: 99;
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: .266667rem;
.aside_letter li
    font-size: .32rem;
    color: #666;
    font-weight: 500;
    padding: .02666667rem .13333334rem;
