.info
    padding: 0.48rem 0.26666667rem .4rem;
    background: #fff;
    position: relative;
    p 
        max-width: 4.555554rem;
        overflow: hidden;
        text-overflow: ellipsis;
    div
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        flex-direction: row;
        padding-top: 0.266667rem;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 50%;
        position: absolute;
        right: 0.133334rem;
        top: 0.2944445rem;
        button
            outline: none;
            -webkit-appearance: none;
            border-radius: 0.133334rem;
            font-size: .42rem;
            height: .9333333rem;
            width: 4.6rem;
            border: none;
            box-sizing: border-box;
            background: #00afff;
            color: #fff;
.info p:first-child 
    font-size: .42rem;
    color: red;
    font-weight: 500;
.info p:nth-child(2) 
    font-size: 0.3466667rem;
    color: silver;
