.color{
    position: absolute;
    top: 0;
    z-index: 101;
    background: #f4f4f4;
    height: 100%;
    width: 100%;
    -webkit-animation: c .2s ease forwards;
    animation: c .2s ease forwards;
}

.color>p{
    margin: .2rem 0;
    font-size: .453333rem;
    color: #00afff;
    background: #fff;
    text-align: center;
    line-height: 1.066667rem;
    height: 1.066667rem;
}
.color .type{
    margin-top: .2rem;
    padding-left: .266667rem;
    font-size: .4rem;
    line-height: 1.0133334rem;
    height: 1.0133334rem;
    background: #fff;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}
.color .type  span.active {
    color: #00afff;
}
.color .type span {
    padding-right: .56rem;
}
.color ul {
    margin-top: .2rem;
    padding: 0 0.2666666rem;
    overflow: hidden;
    background: #fff;
}
.color ul li {
    float: left;
    width: 4.6rem;
    font-size: .426667rem;
    line-height: 0.906667rem;
    border: 1px solid #3aacff;
    box-sizing: border-box;
    margin: 0.2666666rem 0;
    border-radius: 0.0666667rem;
}
.color ul li:nth-child(odd) {
    margin-right: .266666rem;
}
.color ul li span {
    display: inline-block;
    width: .533333rem;
    height: .533333rem;
    margin-left: .266667rem;
    vertical-align: -12%;
    background: #fe9210;
    box-sizing: border-box;
    border: 1px solid #818181;
}