.brand_list
    -webkit-overflow-scrolling: touch;
    width 100%
    height 100%
    overflow-y: scroll;
.brand_list div p
    width 100%
    height 0.55rem
    font-size 0.4rem
    line-height 0.55rem
    background #f4f4f4
    padding-left 15px
    color #aaa
.brand_list div ul
    margin 0 0.4rem
.brand_list div ul li
    display flex
    align-items center
    height 1.333334rem
    border-bottom 1px solid #ddd
.brand_list div ul li img
    width 1.066667rem
    height 1.066667rem
.brand_list div ul li span
    padding-left 20px
    font-size 0.428rem