.detail
    width 100%
    height 100%
    background #f4f4f4
    overflow: auto;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility:hidden;

.content{
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
